@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-black);
}

h2 {
  font-size: 50px;
  font-weight: 400;
  color: #292f36;
}

body {
  font-family: "DM Serif Text", serif;
}
:root {
  --button-primary: #292f36;
  --button-secondary: #cda274;

  --text-black: #292f36;
  --text-grey: #4d5053;
  --text-yellow: #cda274;
  --font-jost: "Jost", sans-serif;
}

/* navbar css */

.navbar-toggler-icon {
  color: var(--button-primary);
}
.nav-item a {
  font-size: 20px;
  margin-right: 10px;
  color: var(--text-black);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.navbar-brand img {
  width: 177px;
  height: 50px;
}
.search-container {
  position: relative;
  display: inline-block;
}
.search-bar {
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.search-bar.active {
  width: 200px; /* Adjust the width as needed */
  opacity: 1;
  transition: width 0.3s ease, opacity 0.3s ease;
}

/* hero css */

.btn-one {
  padding: 22px 49px;
  background: var(--button-primary);
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  border-radius: 18px;
  color: #fff;
  font-family: var(--font-jost);
  font-size: 22px;
}

.hero-banner {
  background-image: url(../images/banner.png);
  height: 758px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 7%;
  border-bottom-right-radius: 7%;
}
.hero-banner .hero-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
.hero-content h2 {
  font-size: 62px;
  font-weight: 400;
}
.hero-content p {
  font-size: 22px;
  font-family: "Jost", sans-serif;
}
.hero-content a img {
  width: 15.14px;
  height: 13.18px;
}
/* 3 column css */

.column {
  margin-top: 150px;
}

.col-info h3 {
  font-size: 25px;
  color: var(--text-black);
}
.col-info p {
  font-family: var(--font-jost);
  font-size: 22px;
}

/* column 2 info */
.left-info h3 {
  font-size: 50px;
}
.left-info .text {
  font-size: 22px;
  font-family: var(--font-jost);
  padding: 33px 0 45px;
}
.call-info {
}
.number p {
  font-family: var(--font-jost);
  font-size: 24px;
  font-weight: 700;
}
.number small {
  font-family: var(--font-jost);
  font-size: 22px;
  color: var(--text-grey);
}

.right-side img {
  width: 653px;
  height: 700px;
}
.btn-pd {
  padding-top: 73px;
}

/* Testimonial Css */
.testimonial {
  background: #f4f0ec;
  padding: 88px 24px;
  border-radius: 50px;
}
.tesmonital-header h2 {
  font-size: 50px;
}
.card-inner-info p {
  font-size: 25px;
  letter-spacing: 1%;
  line-height: 37.5px;
}
.card-inner-info small {
  font-size: 18px;
  font-family: var(--font-jost);
  line-height: 150%;
  font-weight: 400;
  color: #4d5053;
}
.card-text {
  font-family: var(--font-jost);
  font-size: 22px;
  font-weight: 400;
  color: #4d5053;
}

/* Project Section */
.project-info-header {
  padding: 0 232px 93px 232px;
}

.project-info-header h2 {
  font-size: 50px;
  font-weight: 400;
}
.project-info-header p {
  font-size: 22px;
  font-family: var(--font-jost);
}
.project-text {
  padding-top: 24px;
}
.project-text h6 {
  font-size: 25px;
  color: #292f36;
}
.project-text p {
  font-size: 22px;
  font-family: var(--font-jost);
  color: #4d5053;
}
/* Work Complete css */
.works-bg {
  background: #f4f0ec;
}

.works-info {
  padding: 151px 10px;
}

.works-info-inner h1 {
  font-size: 85px;
  color: #cda274;
}
.works-info-inner p {
  font-size: 22px;
  font-family: var(--font-jost);
  color: #4d5053;
}

.vl {
  position: absolute;
  width: 130px;
  height: 0px;
  left: 176px;
  top: 83px;
  border: 1px solid #cda274;
  transform: rotate(90deg);
}

/* Article & News Css */
.article-header {
  padding-bottom: 52px;
}
.article-header p {
  font-size: 22px;
  font-family: var(--font-jost);
  font-weight: 400;
  color: #4d5053;
}

.overlay-text {
  position: absolute;
  bottom: 8px;
  left: 22px;
  background: #fff;
  padding: 10px;
  border-radius: 10px 10px 10px 0px;
}
.c-border {
  border-radius: 50px;
  border-color: #e7e7e7;
}
.c-border.active {
  background-color: #e7e7e7;
}
/* Join Us Css */

.join-bg {
  background-color: #292f36;
  height: 374px;
  border-radius: 70px;
}
.join-info-text h1 {
  font-size: 50px;
  font-weight: 400;
  color: #f4f0ec;
}
.join-info-text p {
  font-size: 22px;
  font-family: var(--font-jost);
  font-weight: 400;
  color: #f4f0ec;
}

/* Responsive Section */

@media (max-width: 668px) {
  .join-info-text h1 {
    font-size: 35px;
  }
  .join-info-text p {
    font-size: 18px;
    font-family: var(--font-jost);
  }
}

@media (max-width: 768px) {
  .project-info-header {
    padding: 0;
  }
  .vl {
    visibility: hidden;
  }
}

@media (max-width: 950px) {
  .project-info-header {
    padding: 0 50px 93px 50px;
  }
}
